body{
    background-color: rgb(255, 247, 247);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Título Principal*/
h1 {
 color: rgb(255, 68, 0);
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 background-color: blue;
} 

/* Título Secundário*/
h3 {
    color: rgb(117, 117, 117);
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   } 

   /* Alinhamento de imagem*/
img{
    margin-left: 40%;
}

/* Lista*/
ul{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    stroke: black;
}

/* Rodapé*/

   footer {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}